@import "../../utils/clearfix.scss";
@import "../../static/colorScheme.scss";


html {
  height: 100%;
}

.pollLayoutWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  > main {
    flex: 1 0 auto;
    background-color: $blueWhale;

    > .pollQuestion {
      margin-top: 80px;
    }
  }

  > footer {
    flex-shrink: 0;
  }
}
