$white: #fff;
$whiteHalfDark: #f7f7f7;
$whiteDark: #eee;
$whiteExtraDark: #ddd;
$grayLight: #ccc;
$gray: #aaa;
$grayDark: #888;
$blackLight: #333;

$orange: #fca23b;
$orangeDark: #eb912a;
$redLight: rgb(210, 80, 80);
$green: #2ab466;
$blueLight: #5eaacf;

$redishWhite: #ffeeee;
