@import "../../../static/colorScheme.scss";


.commonButton {
  cursor: default;
  text-align: center;
  box-sizing: border-box;
  padding: 0px;
  display: block;
  outline: none;
  border: none;
  transition: color 0.1s;
  text-transform: uppercase;
  border-radius: 1px;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: translate(0, 2px);
  }

  &.commonButtonSmall {
    width: 160px;
    height: 24px;
    font-size: 14px;
  }

  &.commonButtonMedium {
    width: 200px;
    height: 28px;
    font-size: 15px;
  }

  &.commonButtonLarge {
    width: 240px;
    height: 32px;
    font-size: 16px;
  }

  &.commonButtonExtraLarge {
    width: 320px;
    height: 40px;
    font-size: 18px;
  }

  &.commonButtonRed {
    background-color: $chestnut;
    box-shadow: 0 2px 0 0 $rusticRed;

    &:hover {
      background-color: $fuzzyWuzzyBrown;
    }
  }

  &.commonButtonGray {
    background-color: $whiteSmoke;
    box-shadow: 0 2px 0 0 $gray;

    &:hover {
      background-color: 0 2px 0 0 $fuzzyWuzzyBrown;
    }
  }

  &.commonButtonTransparent {
    background-color: transparent;
    box-shadow: 0 2px 0 0 $fuzzyWuzzyBrown;
    color: $gainsboro;

    &.commonButtonSmall {
      width: 80px;
    }

    &.commonButtonMedium {
      width: 120px;
    }

    &.commonButtonBig {
      width: 160px;
    }
  }

  &:active {
    box-shadow: none;
  }
}
