html {
  font-family: 'PT Sans';
}

@font-face {
  font-family: 'PT Sans';
  src: url("../../assets/fonts/PTSans-Regular.ttf") format("opentype");
}


body {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}
