@import "../../../static/colorScheme.scss";
@import "../../../utils/clearfix.scss";


.headerBar {
  @include clearfix;

  width: 100%;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  height: 60px;
  position: relative;
  background-color: $cello;

  > .headerTitle {
    float: left;
    margin-left: 32px;
    height: 100%;
    text-align: center;
    display: table;

    > h1 {
      margin: 0;
      color: $whiteSmoke;
      text-transform: uppercase;
      text-shadow: 3px 3px rgb(22, 42, 51);
      font-size: 36px;
      vertical-align: middle;
      font-weight: normal;
      display: table-cell;
    }
  }
  
  > .headerLogout {
    float: right;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    margin: 0 32px;
    right: 0;

    > h3 {
      font-weight: normal;
      text-align: center;
      margin: 0 0 8px 0;
    }
  }
}
